logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/project/
/project/target/
/.idea/
.sbt
.ivy2
.sbt/
.ivy2/
rebel.xml
.bsp
.metals
.bloop
coursier-cache
sbt-cache
.ammonite/
metals.sbt
/public
.idea
.vscode/settings.json
.vscode
.bsp
